@page "/progress"
@using SongsCompressor.Common.Enums;
@using SongsCompressor.Common.Interfaces;
@using SongsCompressor.Common.Models;
@inject ICompressionManager CompressionHandler;

<MudCard Class="mt-4">
    <MudCardHeader>
        <MudText Typo="Typo.h4">Progress</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudText>@_progressStatus.EngineProgress.WorkDescription</MudText>
        <MudProgressLinear Striped="true" Color="Color.Secondary" Size="Size.Large" Value="_progressStatus.EngineProgress.PercentageComplete" Class="my-7">
            <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                <b>@_progressStatus.EngineProgress.PercentageComplete%</b>
            </MudText>
        </MudProgressLinear>
        <MudProgressLinear Striped="true" Color="Color.Primary" Size="Size.Medium" Value="_progressStatus.OverallEnginePercentageComplete" Class="my-7">
            <MudText Typo="Typo.subtitle2" Color="Color.Dark">
                <b>@_progressStatus.EnginesFinished / @_progressStatus.TotalEngines</b>
            </MudText>
        </MudProgressLinear>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(_progressStatus.AllEnginesComplete)" Class="mt-4">
    <MudCardContent>
        <MudText>
            Even if an application appears to be frozen, it may still be processing tasks in the background.
            <br /><br />
            After the process is complete, remember to rescan your songs library in the game.
        </MudText>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(!_progressStatus.AllEnginesComplete)" Class="mt-4">
    <MudCardContent>
        <div class="d-flex flex-grow-1 gap-4">
            <div class="flex-none d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Large"></MudIcon>
            </div>
            <MudText Class="flex-1">
                <MudText Typo="Typo.h6">You are all set!</MudText>
                 Remember to rescan Clone Hero's song library. You can close the application now.
            </MudText>
        </div>
    </MudCardContent>
</MudCard>

<MudFab Disabled="@(!_progressStatus.AllEnginesComplete)" Class="mt-4" OnClick="() => Close()" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Close" Label="Close" />

@code {
#pragma warning disable CS8618 // No constrcutor, it's initialized in OnParameterSet
    private OverallProgressStatus _progressStatus;
    private Task CheckingStatusTask;
#pragma warning restore CS8618

    protected override async Task OnParametersSetAsync()
    {
        CheckingStatusTask = CheckForStatus(CompressionHandler.Start());

        await Task.CompletedTask;
    }

    private async Task CheckForStatus(Task compressionStartTask)
    {
        var periodicTimer = new System.Threading.PeriodicTimer(TimeSpan.FromSeconds(4));

        do
        {
            _progressStatus = await CompressionHandler.GetCurrentProgressStatus();
            StateHasChanged();
        }
        while (!_progressStatus.AllEnginesComplete && await periodicTimer.WaitForNextTickAsync());

        periodicTimer.Dispose();
        await compressionStartTask;
    }

    private async Task Close()
    {
        await CheckingStatusTask;
        Environment.Exit(0);
    }
}
